<h2>Import Useful Libraries</h2>

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing

<h2>Import Dataset</h2>

In [25]:
data = pd.read_csv("NLP/train.csv") # import csv
data.head() # show first 5 lines

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [3]:
data.info() # examine data type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
id          7613 non-null int64
keyword     7552 non-null object
location    5080 non-null object
text        7613 non-null object
target      7613 non-null int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [4]:
data.describe() # data statistics

                 id      target
count   7613.000000  7613.00000
mean    5441.934848     0.42966
std     3137.116090     0.49506
min        1.000000     0.00000
25%     2734.000000     0.00000
50%     5408.000000     0.00000
75%     8146.000000     1.00000
max    10873.000000     1.00000

<h2>At a Glance</h2>

In [5]:
data.groupby("keyword").count() # Count the frequency of each listed keyword in the dataset

                     id  location  text  target
keyword
ablaze               36        29    36      36
accident             35        28    35      35
aftershock           34        25    34      34
airplane%20accident  35        29    35      35
ambulance            38        26    38      38
annihilated          34        20    34      34
annihilation         29        18    29      29
apocalypse           32        17    32      32
armageddon           42        32    42      42
army                 34        15    34      34
arson                32        22    32      32
arsonist             34        28    34      34
attack               36        25    36      36
attacked             35        28    35      35
avalanche            30        23    30      30
battle               26        19    26      26
bioterror            37        28    37      37
bioterrorism         30        11    30      30
blaze                38        25    38      38
blazing              34        20    34      34
bleeding             35        21    35      35
blew%20up            33        21    33      33
blight               32        26    32      32
blizzard             37        19    37      37
blood                35        19    35      35
bloody               35        28    35      35
blown%20up           33        26    33      33
body%20bag           33        21    33      33
body%20bagging       33        24    33      33
body%20bags          41        23    41      41
...                  ..       ...   ...     ...
survivors            30        19    30      30
terrorism            34        15    34      34
terrorist            31        20    31      31
threat               11        10    11      11
thunder              38        19    38      38
thunderstorm         33        23    33      33
tornado              35        22    35      35
tragedy              36        21    36      36
trapped              32        22    32      32
trauma               31        21    31      31
traumatised          35        21    35      35
trouble              33        22    33      33
tsunami              34        21    34      34
twister              40        21    40      40
typhoon              38        25    38      38
upheaval             38        30    38      38
violent%20storm      33        23    33      33
volcano              27        17    27      27
war%20zone           24        16    24      24
weapon               39        28    39      39
weapons              39        29    39      39
whirlwind            39        33    39      39
wild%20fires         31        23    31      31
wildfire             33        20    33      33
windstorm            40        26    40      40
wounded              37        27    37      37
wounds               33        27    33      33
wreck                37        27    37      37
wreckage             39        28    39      39
wrecked              39        22    39      39

[221 rows x 4 columns]

<h2>Data Preparation</h2>
<h3>Cleaning Data</h3>

<h4>Cleaning text used for text-mining</h4>

In [6]:
def clean_text(data, text):
    data[text] = data[text].str.replace(r"http\S+", "") # remove URLs
    data[text] = data[text].str.replace(r"http", "") # remove mention of http if not URL
    data[text] = data[text].str.replace(r"@\S+", "") # remove any alias
    data[text] = data[text].str.replace(r"[^A-Za-z0-9(),!?@\'\`\"\_\n]", " ") # remove any character not in this list
    data[text] = data[text].str.replace(r"@", "at") # replace non-alias @ with at
    data[text] = data[text].str.lower() # make everything lowercase
    return data

data = clean_text(data, "text")

data.head(5) # show first 5 lines

,id,keyword,location,text,target
0,1,NaN,NaN,our deeds are the reason of this earthquake m...,1
1,4,NaN,NaN,forest fire near la ronge sask canada,1
2,5,NaN,NaN,all residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive wildfires evacuation or...",1
4,7,NaN,NaN,just got sent this photo from ruby alaska as ...,1

<h4>Tokenize text by separating it into individual words</h4>

In [7]:
from nltk.tokenize import RegexpTokenizer

tokenizer = RegexpTokenizer(r'\w+')

data["tokens"] = data["text"].apply(tokenizer.tokenize)
data.head(5) # show first 5 lines

,id,keyword,location,text,target,tokens
0,1,NaN,NaN,our deeds are the reason of this earthquake m...,1,"[our, deeds, are, the, reason, of, this, earth..."
1,4,NaN,NaN,forest fire near la ronge sask canada,1,"[forest, fire, near, la, ronge, sask, canada]"
2,5,NaN,NaN,all residents asked to 'shelter in place' are ...,1,"[all, residents, asked, to, shelter, in, place..."
3,6,NaN,NaN,"13,000 people receive wildfires evacuation or...",1,"[13, 000, people, receive, wildfires, evacuati..."
4,7,NaN,NaN,just got sent this photo from ruby alaska as ...,1,"[just, got, sent, this, photo, from, ruby, ala..."